<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="login-container">
      <form id="login-form">
        <h2>Login</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <!-- <input type="text" id="username" name="username" required pattern="[ก-๏a-zA-Z\d0-9]+"> -->
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <!-- <input type="password" id="password" name="password" required pattern="[ก-๏a-zA-Z\d0-9]+"> -->
        <br>
        <button type="submit" class="submit-btn">Login</button>
      </form>
    </div>
    <script src="scriptLogin.js"></script>
  </body>
</html>